@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    box-sizing: inherit;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    /* color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb)); */
}

@media screen and (min-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .section {
        transition: transform 1s, opacity 1s;
    }

    .section--hidden {
        opacity: 0;
        transform: translateY(16rem);
    }

    .section--fade {
        opacity: 0;
    }
}

.countdown {
    transition: transform 1s, opacity 1s;
}

.countdown--fade {
    opacity: 0;
}

.sticky {
    position: fixed;
    background-color: #ffffffe6;
    top: 0;
    width: 100vw;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
