.section {
    background-image: linear-gradient(
            to right,
            rgba(20, 33, 62, 0.85),
            rgba(14, 23, 43, 0.9)
        ),
        url('/img/pixels.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
